.qcHolder
{
    min-height: 500px;
    min-width: 500px;    
    padding-left: 20px;
    padding-right: 20px;
}

.pointer{
    cursor:pointer;
}


.progressBar {
    margin: 0;
    height: 3px;
    width: 0%;
    background: yellowgreen;
}